<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.drimanager" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DriManager</name>
    <description>
        A simple Apache Cordova application that uses HTML forms saved to Couchdb locally; sync when online.
    </description>
    <author email="dri.20.learningfuture@spamgourmet.com" href="#">
        Julian
    </author>
    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>

    <platform name="ios">
              <!-- iPad -->
          <icon src="www/img/health_icon_144.png" width="144" height="144" />
        <splash src="www/img/splash_ipad.png" width="1024" height="768"/>

     </platform>
    <preference name="BackgroundColor" value="0xff0000ff"/>
    <content src="index.html" />
    <access origin="*" />
</widget>
