<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="js/pouchdb-3.3.0.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/js.cookie.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/app.js"></script>
    <link href="css/font-awesome4.3.0.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"/>
    <script type="application/javascript">
        $(document).ready(function (event) {
            $('a').bind("click", event, save_on_page_change);
            console.log('begin jq');
            var id = Cookies.get('id');
            $('#patientNumber').val(id);
        });
    </script>
</head>

<body ng-app="dricase" ng-controller="SocialCtrl">
<div ng-controller="SideController">
      <ion-nav-view>

      </ion-nav-view>
    </div>
<ion-side-menus>
    <!-- Main menu -->
    <ion-side-menu-content>
        <ion-header-bar class="bar-dark">
            <button class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Social</h1>
        </ion-header-bar>

        <ion-content class="has-header">
            <!-- Begin form -->
            <form>
            <input name="formName" id="formName" type="hidden" value="social" readonly>
            <input id="patientNumber" type="hidden" readonly>

            <div class="card">
                <label class="item item-divider" for="travelMode">How did you get here?</label>
                <div class="item item-input">
                    <input class="form-control" id="travelMode" name="travelMode" placeholder="What transport did you use?" type="text">
                </div>
            </div>

            <div class="card">
                <label class="item item-divider" for="travelDuration">How long did you take to get here?</label>
                <div class="item item-input">
                    <input id="travelDuration" name="travelDuration" placeholder="Name" type="text">

                    <p class="help-block">Journey time in days / hours</p>
                </div>
            </div>

            <div class="card">
                <label class="item item-divider" for="travelCost">How much did it cost?</label>
                <div class="item item-input">
                    <input id="travelCost" name="travelCost" placeholder="Cost and currency" type="text">
                    <p class="help-block">Journey cost</p>
                </div>
            </div>

            <div class="card">
                <label class="item item-divider" for="travelPayee">Who paid for your journey?</label>
                <div class="item item-input">
                    <input id="travelPayee" name="travelPayee" placeholder="Travel paid by?" type="text">
                    <p class="help-block">For example: did they pay
                        for the journey themselves? Did a family member pay?</p>
                </div>
            </div>

            <div class="card">
                <label class="item item-divider">Marital status</label>

                <ion-radio
                        ng-repeat="item in maritalStatusList"
                        ng-value="item.text">
                    {{ item.text }}
                </ion-radio>
            </div>

            <div class="card">
                <label class="item item-divider">Highest level of education</label>

                <ion-radio
                        ng-repeat="item in educationStatusList"
                        ng-value="item.text">
                    {{ item.text }}
                </ion-radio>
            </div>

            <div class="card">
                <label class="item item-divider">Highest level of education</label>

                <ion-radio
                        ng-repeat="item in socialStatusList"
                        ng-value="item.text">
                    {{ item.text }}
                </ion-radio>
            </div>

            <div class="card">
                <label class="item item-divider" for="occupation">What is your occupation?</label>
                <div class="item item-input">
                    <textarea id="occupation" class="occupation" name="textarea" placeholder="What is your job?"></textarea>
                </div>
            </div>
            </form>
        </ion-content>

        <div class="tabs">
            <a class="tab-item" href="admin.html">← Prev</a>
            <a class="tab-item" href="medical.html">Next →</a>
        </div>
    </ion-side-menu-content>

    <!-- Side menu -->
    <ion-side-menu side="left">
        <ul class="list">
            <li class="item"><a href="admin.html">Admin</a></li>
            <li class="item"><a href="#">Social</a></li>
            <li class="item"><a href="medical.html">Medical</a></li>
            <li class="item"><a href="status.html">Status</a></li>
            <li class="item item-divider"></li>
            <li class="item"><a href="clinical.html">Clinical Exam</a></li>
            <li class="item"><a href="exam.html">Examination under Anesthesia</a></li>
            <li class="item item-divider"></li>
            <li class="item"><a href="treatment.html">Treatment</a></li>
            <li class="item item-divider"></li>
            <li class="item"><a href="discharge.html">Discharge</a></li>
            <li class="item"><a href="followup.html">Follow-up</a></li>
        </ul>
    </ion-side-menu>
</ion-side-menus>

</body>

</html>